<div class="container-fluid">
    <div class="row vh-100">
        
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-light">
            <img src="images/image1.jpg" alt="Shopping Image" class="img-fluid">
        </div>
        
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="form-container">
                <h2>Create an account</h2>
                <p>Enter your details below</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Re-enter Your Password">
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Create Account</button>
                </form>
                <div class="text-center mt-3">
                    <p>Already have account? <a href="#">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
