
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Wishlist (4)</h4>
            <button class="btn btn-outline-dark">Move All To Bag</button>
        </div>
        
        
        <div class="row">
            <!-- Item 1 -->
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="position-relative">
                        <img src="gucci_bag.png" class="img-fluid" alt="Gucci Duffle Bag">
                        <div class="badge bg-danger position-absolute top-0 start-0">-35%</div>
                        <button class="btn btn-light position-absolute top-0 end-0">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    <div class="mt-3 text-center">
                        <h6>Gucci Duffle Bag</h6>
                        <p>
                            <span class="text-danger">$960</span> <del>$1480</del>
                        </p>
                        <button class="btn btn-dark w-100">Add To Cart</button>
                    </div>
                </div>
            </div>

            <!-- Item 2 -->
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="position-relative">
                        <img src="rgb_cpu_cooler.png" class="img-fluid" alt="RGB Liquid CPU Cooler">
                        <button class="btn btn-light position-absolute top-0 end-0">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    <div class="mt-3 text-center">
                        <h6>RGB Liquid CPU Cooler</h6>
                        <p class="text-danger">$1960</p>
                        <button class="btn btn-dark w-100">Add To Cart</button>
                    </div>
                </div>
            </div>

            <!-- Item 3 -->
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="position-relative">
                        <img src="usb_gamepad.png" class="img-fluid" alt="GP11 Shooter USB Gamepad">
                        <button class="btn btn-light position-absolute top-0 end-0">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    <div class="mt-3 text-center">
                        <h6>GP11 Shooter USB Gamepad</h6>
                        <p class="text-danger">$550</p>
                        <button class="btn btn-dark w-100">Add To Cart</button>
                    </div>
                </div>
            </div>

            <!-- Item 4 -->
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="position-relative">
                        <img src="quilted_jacket.png" class="img-fluid" alt="Quilted Satin Jacket">
                        <button class="btn btn-light position-absolute top-0 end-0">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    <div class="mt-3 text-center">
                        <h6>Quilted Satin Jacket</h6>
                        <p class="text-danger">$750</p>
                        <button class="btn btn-dark w-100">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
