
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 sidebar">
          <ul>
            <li><a href="#">Woman's Fashion</a></li>
            <li><a href="#">Men's Fashion</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Home & Lifestyle</a></li>
            <li><a href="#">Medicine</a></li>
            <li><a href="#">Sports & Outdoor</a></li>
            <li><a href="#">Baby's & Toys</a></li>
            <li><a href="#">Groceries & Pets</a></li>
            <li><a href="#">Health & Beauty</a></li>
          </ul>
        </div>

<!-- Category Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-phone"></i>
                <div class="icon-text">Phones</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-computer"></i>
                <div class="icon-text">Computers</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-clock"></i>
                <div class="icon-text">SmartWatch</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-camera"></i>
                <div class="icon-text">Camera</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-headphones"></i>
                <div class="icon-text">HeadPhones</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-gamepad"></i>
                <div class="icon-text">Gaming</div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-phone"></i>
                <div class="icon-text">Phones</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-computer"></i>
                <div class="icon-text">Computers</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-clock"></i>
                <div class="icon-text">SmartWatch</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-camera"></i>
                <div class="icon-text">Camera</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-headphones"></i>
                <div class="icon-text">HeadPhones</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-card">
                <i class="fa-solid fa-gamepad"></i>
                <div class="icon-text">Gaming</div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section with Pictures -->
<section class="features py-5 bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="fa-solid fa-truck"></i>
                    <h5>Free and Fast Delivery</h5>
                    <p>Free delivery for orders over $149</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="fa-solid fa-headset"></i>
                    <h5>24/7 Customer Service</h5>
                    <p>Friendly 24/7 customer support</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="fa-solid fa-check"></i>
                    <h5>Money Back Guarantee</h5>
                    <p>30-day money-back guarantee</p>
                </div>
            </div>
        </div>
    </div>
</section>